@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&family=Trade+Winds&display=swap');

body {
    background-color: #002536;
    font-family: "Avant Garde", Tajawal, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

.home-grid h2 {
    color: white;
}

h2 {
    margin: 0;
}

h4 {
    color: white;
}

/* BACKGROUND */
#background {
    height: 725px;
    background-color: #095f78;
    grid-column: 1/11;
    grid-row: 4/9;
}

/* HEADER */
header {
    background-color: #095f78;
    display: grid;
    grid-template-columns: 150px auto;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 35px;
}

nav a:hover {
    background-color: #002536;
    color: #f7a120;
}

/* BUTTON */
.book,
.join {
    color: #f7a120;
    background-color: #095f78;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: "Avant Garde", Tajawal, sans-serif;
}

.book:hover, .join:hover {
    background-color: #f7a120;
    color: #002536;
}

/* MESSAGE BOX */
.msg {
    background-color: #002536;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #f7a120;
    font-family: "Trade Winds", Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

/* FOOTER */
footer {
    background-color: #095f78;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #f7a120;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/* TITLES */
.home-title {
    color: #f7a120;
    font-family: "Trade Winds", Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
}

/* IMAGES */
.logo {
    width: 80px;
    border-radius: 15%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.card-img, .mountains {
    width: 100%;
}

.card-img {
    border: 10px solid white;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* HERO SECTION */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

/* GRID */
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/* CARDS */
.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

/* FAQ */
#faqcontent {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    align-items: stretch;
    padding: 20px;
}

.imagefaq {
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

.imagefaq img {
    width: 100%;
    height: 100%; /* fill height of container */
    object-fit: cover; /* keep proportions and crop if needed */
    border-radius: 10px;
    display: block;
    
}


#faqtitle {
    width: 100%;
    color:#fafffd;
    font-family: "Trade Winds", Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-align:center;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;

}

.faq-grid {
    grid-column: 2 / 3;
}

details {
    margin-bottom: 15px;
    background-color: #095f78;
    border-radius: 5px;
    overflow: hidden;
}

summary {
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #002536;
    background-color: #fafffd;
}

summary:hover {
    text-decoration: underline;
    color:#f7a120
}

details p {
    padding: 15px 20px;
    color: white;
    margin: 0;
}

.faqfoot {
    margin-top: 0;
}


/*Form CSS*/
body {
  /* Center the form on the page */
  text-align: center;
}

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #fafffd;
  border-radius: 1em;
  margin-top: 75px;
  color:#fafffd
}

p + p {
  margin-top: 1em;
  color:#fafffd
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999999;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: black;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
  background-color: #095f78;
  color:#fafffd
}

button:hover {
    color:#002536;
    background-color: #f7a120;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}




/*Don't add css after the media screen*/


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
           