@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&family=Trade+Winds&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a, #hero-msg h1, #hero-msg h4, .button-box, main section{
    text-align: center;
}

.home-grid h2{
    color:white
}

#background {
    height: 725px;
    background-color:#095f78;
}

body {
    background-color: #002536;
    font-family: "Avant Garde", Tajawal, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:#095f78;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 35px;
}

nav a:hover {
    background-color: #002536;
    color: #f7a120;
}

.book, .join {
    color:#f7a120;
    background-color: #095f78;
    text-decoration: none;
    font-family: "Avant Garde", Tajawal, sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #f7a120;
    color: #002536;
}

.msg {
    background-color: #095f78;
}

footer {
    background-color:  #002536;
    color: white;
    line-height: .7em;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p{
    font-size: .6em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    color:#f7a120
}

footer p a:hover{
    text-decoration: underline;
}

.home-title {
    color: #f7a120;
    font-family: "Trade Winds", Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:white;
}

h2 {
    margin: 0;
}

.msg h2 {
    color:#f7a120;
    font-family: "Trade Winds", Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

.msg p {
    color:white;
    font-size: .8em;
    padding-bottom: 15px;
}

.msg {
    line-height: 1.5em;
    padding: 35px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.mountains {
    width: 50%
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid white;
}

main section img {
    box-sizing: border-box;
}
