@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body {
    background-color:#988c6f;
    color:#f5f0f0;
    font-family: Raleway, Helvetica, sans-serif;
    border:#f5f0f0 5px solid;
   
}

#content {
    margin: 0 auto;
}

h1 {
    font-family: "Cinzel Decorative", serif;
}
h2{
    font-family: "Cinzel Decorative", serif;
}

/*Header*/

header {
    background-color: #f5f0f0;
    display: grid;
    grid-template-columns: auto 150px;
}

nav a{
    color: #988c6f; 
    text-decoration: none;
    font-family: Raleway, Helvetica, sans-serif;
    padding: 35px;
    font-size: 1.2em;

}
nav a:hover{
    color: #f5f0f0;
    background-color: #988c6f;
}

nav{
    background-color: #f5f0f0;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 80px;
    border-radius: 15%;
    align-self: end;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/*Hero*/
#hero-img{
    width: 100%;
    border-bottom:#f5f0f0 5px solid;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    margin-top: 0;
}

#hero-box {
    grid-column: 1/8;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 6/7;
    grid-row: 2/3;
    margin-bottom: 150px;
    margin-right: 50px;
    text-align: center;
}

#hero p{
    margin-top: 10px;
}
#hero h1{
    margin-bottom: 10px;
}

.button-box a {
    color:#988c6f;
    text-decoration: none;
    font-size: 1.1em;
    background-color: #f5f0f0;
    padding: 6px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.85);
}

.button-box a:hover {
    color: #f5f0f0;
    background-color: #988c6f;
}

/* Content*/
.about {
    background-color:#f5f0f0B3;
    color:#988c6f;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-top: -5.5rem;   
    z-index: 2;        
    padding: 1.0em;      
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.85);
}

.about p, h4{
    font-size: .8em;
    text-align:center;
}

.about p {
    margin-top: -5px;
}
.about h2 {
    text-align: center;
    margin-bottom: -10px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: repeat(4 1fr);
    width: 100%;
}

.cardimage1, .cardimage2, .cardimage3 {
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    border: 5px solid
}


.events,
.pearls,
.plants {
    margin-top: 50px;
    position: relative
    
}

.events {
    grid-column: 2/3;
    grid-row: 1/5;
}

.pearls{
    grid-column: 4/5;
    grid-row: 1/3;
}

.plants {
    grid-column: 6/7;
    grid-row: 1/3;
}
.middle 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.middle a{
    color:#493843;
    text-decoration: none;   
    font-family: "Cinzel Decorative";
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 8px;
}

.middle a:hover{
    background-color: #988c6f;
    color: #f5f0f0;
}

/*FOOTER */

footer {
    background-color: #f5f0f0;
    color: #988c6f;
    padding: 10px 40px 0px 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    grid-template-rows: auto auto;     
    align-items: center;
    column-gap: 25px;
}


.footer-logo {
    grid-row: 1 / 3;  
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 100%;     
    width: auto;
    object-fit: contain;
    display: block;
}


.footer-links {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;      
}

.footer-links a {
    color: #988c6f;
    font-size: 0.95em;
    text-decoration: none;
}

.footer-links a:hover {
    color: #493843;
    text-decoration: underline;
    font-style: italic;
}


.social {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    gap: 12px;
}

.social img {
    width: 28px;
    height: 28px;
    border: 2px #988c6f solid;
}

.social img:hover{
    border: 2px #493843 solid;
}
footer .copyright {
    grid-column: 2 / 3;    
    grid-row: 2/3;           
    text-align: center;
    font-size: 0.9em;
}






/*Contact Us Webpage*/

/*Contact Hero*/
#contact-img{
    width: 100%;
    height: auto;
    border-bottom: #f5f0f0 5px solid;
}


#contact-hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 5fr ;
    margin-top: 0;
    height: fit-content;
    overflow: hidden;
}

#contact-hero-box {
    grid-column: 1/8;
    grid-row: 1/4;
    z-index: -1;
}

#contact-hero-msg {
    position: absolute;
    top: 50%;              
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 550px;      
    background: rgba(255, 255, 255, 0.85);
    color: #988c6f;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-bottom: 100px;
    text-align: center;
}

form {
  display: inline-block;
  margin-top: -30px;
}



label {
  display: inline-block;
  min-width: 60px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #493843;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #493843;
}

textarea {
  vertical-align: top;
  height: 5%;
}



button {
  margin-left: 1 em;
  background-color: #988c6f;
  color:#f5f0f0;
  padding: 5px;
  border-radius: 10%;
}

button:hover {
    color:#f5f0f0;
    background-color: #493843;
}

/*Reviews*/

.reviews {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    width: 100%;
    height: 100%;
}

#review1:hover,
#review2:hover,
#review3:hover{
    border: 5px solid white;
    transition: transform .2s;
    box-shadow: 3px 3px 3px #6f7364;
}

#review1,
#review2,
#review3 {
    margin-top: 50px;
    position: relative;
    background: rgba(255, 255, 255, 0.68);
    color: #988c6f;
    display: flex;   
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    padding-top: 2px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    border:#f5f0f0 4px solid

    
}

.inlinename {
    display:flex;
    align-items: center;
    gap: 10px;
}

.inlinename img{
    border-radius: 50%;
}

.inlinename h5{
    margin: 0;
}

#review1 {
    grid-column: 1/2;
}

#review2 {
    grid-column: 2/3;
}

#review3 {
    grid-column: 3/4;
}





/* Events Page Hero */

#eventhero {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
    overflow: hidden;
    border-bottom: 5px #f5f0f0 solid;
}


#eventhero img {
    width: 100%;
    height:100%;       
    object-fit: cover; 
    display: block;
}


#hero-img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#hero-img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#hero-img3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#event-hero-msg {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.85);
    color: #988c6f;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    max-width: 80%;
    z-index: 2;
}

/* event main*/



.events-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
}

.private_events,
.market_fairs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

/* Images */
.private_events img,
.market_fairs img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}


.private_events h2,
.private_events p {
    grid-column: 2 / 3;  
    padding-left: 10%;
    padding-right:10%;

}


.market_fairs h2,
.market_fairs p {
    grid-column: 1 / 2;  
    grid-row: 1/2 ;
    padding-left: 10%;
    padding-right:10%;
}

.market_fairs img {
    grid-column: 2/3;
    grid-row: 1/2;

}

