@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body {
    background-color:#988c6f;
    color:#f5f0f0;
    font-family: Raleway, Helvetica, sans-serif;
   
}
.whole {
    border:#f5f0f0 5px solid;

}

#content {
    margin: 0 auto;
}

h1 {
    font-family: "Cinzel Decorative", serif;
}
h2{
    font-family: "Cinzel Decorative", serif;
}

/*Header*/

header {
    background-color: #f5f0f0;
    display: grid;
    grid-template-columns: auto 150px;
}

nav a{
    color: #988c6f; 
    text-decoration: none;
    font-family: Raleway, Helvetica, sans-serif;
    padding: 35px;

}
nav a:hover{
    color: #f5f0f0;
    background-color: #988c6f;
}

nav{
    background-color: #f5f0f0;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 80px;
    border-radius: 15%;
    align-self: end;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/*Hero*/
#hero-img{
    width: 100%;
    border-bottom:#f5f0f0 5px solid;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 0;
}

#hero-box {
    grid-column: 1/8;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 6/8;
    grid-row: 2/3;
    margin-bottom: 110px;
}

#hero p{
    margin-top: 10px;
}
#hero h1{
    margin-bottom: 10px;
}
.button-box a {
    color:#988c6f;
    text-decoration: none;
    font-size: 1.1em;
    background-color: #f5f0f0;
    padding: 6px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.85);
}

.button-box a:hover {
    color: #f5f0f0;
    background-color: #988c6f;
}

/* Content*/
.about {
    background-color:#f5f0f0B3;
    color:#988c6f;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-top: -5rem;   
    z-index: 2;        
    padding: 1.0em;      
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.85);
}

.about p, h4{
    font-size: .8em;
    text-align:center;
}

.about p {
    margin-top: -5px;
}
.about h2 {
    text-align: center;
    margin-bottom: -10px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: repeat(4 1fr);
    width: 100%;
}

.cardimage1, .cardimage2, .cardimage3 {

    width: 100%;
    border: 5px solid
}

.events,
.pearls,
.plants {
    margin-top: 50px;
    position: relative
    
}

.events {
    grid-column: 2/3;
    grid-row: 1/5;
}

.pearls{
    grid-column: 4/5;
    grid-row: 1/3;
}

.plants {
    grid-column: 6/7;
    grid-row: 1/3;
}
.middle 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.middle a{
    color:#493843;
    text-decoration: none;   
    font-family: "Cinzel Decorative";
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 8px;
}

.middle a:hover{
    background-color: #988c6f;
    color: #f5f0f0;
}

/*FOOTER */

footer {
    background-color: #f5f0f0;
    color: #988c6f;
    padding: 10px 40px 0px 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    grid-template-rows: auto auto;     
    align-items: center;
    column-gap: 25px;
}


.footer-logo {
    grid-row: 1 / 3;  
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 100%;     
    width: auto;
    object-fit: contain;
    display: block;
}


.footer-links {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;      
}

.footer-links a {
    color: #988c6f;
    font-size: 0.95em;
    text-decoration: none;
}

.footer-links a:hover {
    color: #493843;
    text-decoration: underline;
    font-style: italic;
}


.social {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    gap: 12px;
}

.social img {
    width: 28px;
    height: 28px;
    border: 2px #988c6f solid;
}

.social img:hover{
    border: 2px #493843 solid;
}
footer .copyright {
    grid-column: 2 / 3;    
    grid-row: 2/3;           
    text-align: center;

    font-size: 0.9em;
}
